/*****************************************************/
/* Variables for Module "Main"                       */
/*****************************************************/
resource_group                  = "Default"
region                          = "us-south"
toolchain_name                  = "DevSecOps CD Toolchain - Terraform"
toolchain_description           = "CD Toolchain created with Template for DevSecOps Best Practices"

/*****************************************************/
/* Variables for Module "Repositories"               */
/*****************************************************/
ibm_cloud_api_key               = ""
app_repo                        = "https://mon01.git.cloud.ibm.com/open-toolchain/hello-compliance-app.git"
pipeline_repo                   = "https://mon01.git.cloud.ibm.com/open-toolchain/compliance-pipelines.git"
evidence_repo                   = "https://mon01.git.cloud.ibm.com/open-toolchain/compliance-evidence-locker.git"
inventory_repo                  = "https://mon01.git.cloud.ibm.com/open-toolchain/compliance-inventory.git"
issues_repo                     = "https://mon01.git.cloud.ibm.com/open-toolchain/compliance-incident-issues.git"
ibm_cloud_api                   = "https://test.cloud.ibm.com"

/*****************************************************/
/* Variables for Module "Services"                   */
/*****************************************************/
cluster_name                    = "my-iks-cluster"
cluster_namespace               = "dev-ns"
cluster_region                  = "ibm:ys1:us-south"
registry_namespace              = "my-icr-ns"
registry_region                 = "ibm:ys1:us-south"
kp_name                         = "Key Protect Service"
kp_region                       = "ibm:ys1:us-south"

/*****************************************************/
/* Variables for Module "Integrations"               */
/*****************************************************/
#authorization_policy_creation   = "disabled"
slack_channel_name              = "slack-channel"
slack_api_token                 = "slack-token"
slack_user_name                 = "slack-user"